# Emacs files
.#*
*~
.DS_Store

# Production Stuff
production/*.env
production/*.yml

# test files
index_terms.txt
ldp.ttl

collection/example_4-wine-labels/**/label_this.txt
collection/example_4-wine-labels/**/google-vision.txt

**/*.hdt.*

# LDP exports
*.ldp.*

collection/ex-sherry-lehmann/**ldp.ttl
collection/ex-amerine-menus/**ldp.ttl
new-collection.ttl
